<div class="twitter-container">
    <div class="twitter-container__content">
        <div class="twitter-container__innercontent">
            <div class="twitter-container__innercontent-text" ng-repeat="user in $ctrl.users | filter:searchText | startFrom:$ctrl.currentPage*$ctrl.pageSize | limitTo:pageSize">
                <div class="twitter-container__card-container" ng-if="user.retweeted_status.text">
                    <p class="twitter-container__card-container-content">{{user.entities.user_mentions[0].name}} <span class="twitter-container__retweet" ng-if="user.retweeted_status.text">Retweeted</span>
                    </p>
                    <div class="twitter-container__card-container-innercontent">
                        <p class="twitter-container__card-container-text"></p><img class="twitter-container__profile-align" src="{{user.user.profile_image_url}}" alt="Profile"
                            width="42" height="42" align="left"> {{user.user.name}} (@{{user.user.screen_name}})
                        </p>
                        <p class="twitter-container__card-container-textcontent" ng-bind-html="$ctrl.convertTrusted(user.retweeted_status.text | parseUrl)">
                        </p>
                    </div>
                </div>
                <div class="twitter-container__card-container" ng-if="!user.retweeted_status.text && tweetType === 'All tweets'">
                    <p ng-hide></p>
                    <div class="twitter-container__card-container-innercontent">
                        <p class="twitter-container__card-container-text"><img class="twitter-container__profile-align" src="{{user.user.profile_image_url}}" alt="Profile"
                                width="42" height="42" align="left"> {{user.user.name}} (@{{user.user.screen_name}})
                        </p>
                        <p class="twitter-container__card-container-textcontent" ng-bind-html="$ctrl.convertTrusted(user.text | parseUrl)">
                        </p>
                    </div>
                </div>
            </div>
            <p class="twitter-container__no-items">No twitter feeds available for this filter</p>
        </div>
    </div>
    <div class="twitter-container__navbar">
        <div class="twitter-container__innernavbar">
            <h5>
                Tweet Filters
            </h5>
            <input type="search" placeholder="@nameHandel or name" ng-model='searchText' />

            <h5>Show Only</h5>
            <div ng-init="tweetType='All tweets'">
                <input type="radio" ng-model='tweetType' id="alltweet" name="tweet" value="All tweets" />
                <label for="alltweets">All tweets</label>
            </div>
            <div>
                <input type="radio" ng-model='tweetType' id="retweet" name="tweet" value="Retweeted tweets" />
                <label for="Retweeted">Retweeted tweets</label>
            </div>

            <h5>Number post/page</h5>
            <div>
                <label for="post" class="inline-label">No.of post per page: </label>
                <input type="text" id="post" ng-model='pageSize' ng-init="pageSize=$ctrl.pageSize" />
            </div>

            <p>Pages: </p>
            <div class="pagination">
                <a id="pagination" href="#" ng-disabled="$ctrl.currentPage === 0" ng-repeat="a in $ctrl.getPageNumber($ctrl.getNumberOfPages()) track by $index"
                    ng-click="(!$last ? $ctrl.currentPage=currentPage+1 : $ctrl.currentPage=currentPage-1); $ctrl.toggleClass($index)" ng-class="{active: $index === $ctrl.selectedIndex}">
                            {{$index+1}}
                    </a>
            </div>
        </div>
    </div>
</div>