    <div id="container">
        <div id="content">
            <div id="innercontent">
                <div ng-repeat="user in $ctrl.users | filter:searchText | startFrom:$ctrl.currentPage*$ctrl.pageSize | limitTo:pageSize:pageSize" style="border-bottom: 1px solid #ccc;">
                    <div style="padding: 5px;">
                        <p>{{user.user.name}}</p>
                        <div style="padding: 10px;background: #fff; border-radius: 5px;">
                            <p><img src="" alt="Smiley face" width="42" height="42" align="left"> This is some text.
                            </p>
                            <p>
                                {{user.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbar">
            <div id="innernavbar">
                <h5>
                    Tweet Filters
                </h5>
                <input type="search" placeholder="@nameHandel or name" ng-model='searchText'/>

                <h5>Show Only</h5>
                <div>
                    <input type="radio" id="alltweet" name="tweet" value="alltweets" checked />
                    <label for="alltweets">All tweets</label>
                </div>
                <div>
                    <input type="radio" id="retweet" name="tweet" value="retweet" />
                    <label for="retweet">Retweeted tweets</label>
                </div>

                <h5>Number post/page</h5>
                <div>
                    <label for="post" class="inline-label">No.of post per page: </label>
                    <input type="text" id="post" ng-model='pageSize' ng-init="pageSize='2'"/>
                </div>

                <h5>Pages</h5>
                <div class="pagination">
                    <!--a ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage=currentPage-1">&laquo;</a-->
                    <a href="#" ng-repeat="a in $ctrl.getNumber($ctrl.numberOfPages()) track by $index" ng-click="$ctrl.currentPage=$ctrl.currentPage+1">
                        {{$index}}
                    </a>
                    
                    <!--a href="#" class="active">2</a-->
                    <!--a ng-disabled="$ctrl.currentPage >= $ctrl.getData().length/$ctrl.pageSize - 1" ng-click="$ctrl.currentPage=$ctrl.currentPage+1">&raquo;</a-->
                </div>

                <!--button ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage=currentPage-1">
                        Previous
                </button>
                    {{$ctrl.currentPage+1}}/{{$ctrl.numberOfPages()}}
                <button ng-disabled="$ctrl.currentPage >= $ctrl.getData().length/$ctrl.pageSize - 1" ng-click="$ctrl.currentPage=$ctrl.currentPage+1">
                        Next
                </button-->

            </div>
        </div>
    </div>