.container {
  width: 980px;
  min-height: 70vh;
  margin: auto;
  box-shadow: dimgrey;
  padding: 1.5rem;
  display: flex;
  justify-content:space-between;
}
.content {
  width: 68%;
  background: #fff;
  border-radius:.4rem;
}
.leftPanel{
  width: 25%;
  background: #fff;
  border-radius:.4rem;
  max-height: 50vh;
  padding: 2%;
}
.leftPanel h3{
  display: flex;
}
.leftPanel h4{
  display: flex;
}
.searchBox{
}

.tweet p {
  margin:.5rem 3.5rem;
}

.searchBox input{
  width: 80%;
  height:2rem;
  border-radius: 1rem;
  border: thin solid #2B6083;
  outline: none;
  padding-left: 0.7rem;
  font-size: .8rem;
}
.postCard{
  padding: 1.5rem;
  border-bottom: thin solid #c5c5c5;
}
.postCard:last-child{
  border-bottom: none;
}
.retweet{
  font-size: 12px;
  color: #222;
  margin-bottom: 1.5rem;
  display: flex;
}
.retweet a{
  text-decoration: none;
  padding-right: .3rem;
  color: #222;
  font-weight: bold;
}
.profilePic{
  width:45px;
  height: 45px;
  border-radius: 22.5px;
  margin-right: .5rem;
}
.user-profile a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  font-size: 14px;
}
.user-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radioButton{
  padding: .5rem;
  font-size: 14px;
}
.radioButton label{
  margin-left: .3rem;
}
.pageFilter{
  font-size: 14px;
}
.pageFilter  input{
  width: 2rem;
  height: 1.3rem;
  border-radius: .2rem;
  border: thin solid #222;
  margin-left: .2rem;
  padding-left: .3rem;
  font-size: 14px;
}
.pages{
  padding: 0px;
  margin-top: 0px;
}
.pages li{
  list-style: none;
  display: inline-block;
  padding: 6px 10px;
  text-decoration: none;
  background: #cddae8;
  margin-left: 5px;
  border-radius: 15px;
}
li.active{
  background: #2B6083;
  color: #fff;
}
.pages li.active a{
  color: white;
}
.pages li a{
text-decoration: none;
  color: #222222;
  font-weight: bold;
}